md-content.md-padding(
  layout="column"
  layout-fill
)
  
  md-toolbar(md-theme="purple")
    .md-toolbar-tools
      h3 setup stuff
      md-button(
        ng-click="saveSettings()"
        aria-label="save all settings"
      ) save
      md-button(
        ui-sref="burndown.board"
        aria-label="goto bdc"
      ) To the BDC !
  md-whiteframe.md-whiteframe-z1
    md-content.md-padding
      pre Setup : {{ user | json }}
  md-toolbar(md-theme="blue")
    .md-toolbar-tools
      h3 Setup Trello
  md-content.md-whiteframe-z1.setup-view(
    layout-fill
    ui-view
  )
