p resources widget directive
.dev-team
  select(
    ng-options="member.id as member.fullName for member in boardMembers"
    multiple="true"
    ng-model="team.dev"
  )
.days Format is YYYY-MM-DD
  label
    span Start day
    input(
      type="text"
      ng-model="dates.start"
      ng-pattern="datePattern"
    )
  label
    span End day
    input(
      type="text"
      ng-pattern="datePattern"
      ng-model="dates.end"
    )
.man-days(
  ng-if="dates.days"
) Man-days/Day/Man \o/ ! TOTAL MAN-DAYS : {{ resources.totalManDays }}
  .resources-by-day(
    layout="row"
  )
    .column(
      layout="column"
    )
      .row &nbsp;
      .row(
        ng-repeat="(i, day) in dates.days"
      ) {{ day.label }}
    .column(
      layout="column"
      ng-repeat="(j, member) in team.dev"
    )
      .row {{ member }}
      .row(
        ng-repeat="(i, day) in dates.days"
      ) {{ resources.matrix[i][j] }}

.sprint-points
  label
    span Total sprint points
    input(
      type="number"
      min="1"
      step="1"
      ng-model="resources.totalPoints"
    )
.sprint-speed
  label
    span Sprint speed
    input(
      type="number"
      min="0"
      step="0.1"
      ng-model="resources.speed"
    )

  //- pre {{ dates | json}}
