md-bottom-sheet.md-list
  md-list
    md-item
      md-button.md-grid-item-content(
        aria-label="Setup"
        ui-sref="setup"
      ) 
        .md-icon-container
          i.fa.fa-cogs
        span.md-inline-list-icon-label Setup
    md-item
      md-button.md-grid-item-content(
        aria-label="Share"
      ) 
        .md-icon-container
          i.fa.fa-share
        span.md-inline-list-icon-label Share
    md-item
      md-button.md-grid-item-content(
        aria-label="Send Daily"
      )
        .daily(
          daily-report
          data="bdcData"
          daily-column-id="setup.columnIds.done"
        )
          .md-icon-container
            i.fa.fa-trello
          span.md-inline-list-icon-label Daily
