h1 Scrumboard
a(
  ui-sref="setup"
) setup

md-content.md-padding(
  layout="column"
  layout-align="center center"
  md-theme="blue"
)
  md-whiteframe.md-whiteframe-z2
    md-toolbar
      .md-toolbar-tools
        h3 BDC
    md-content
      burndown(
        data="bdcData"
      )

  md-card
    md-content
      print-table(
        data="bdcData"
        resources="setup.resources"
      )
