h1 Scrumboard
//- pre doneCards : {{setup.dates.days|json}}
a(
  ui-sref="setup"
) setup

h3 BDC
burndown(
  cards="doneCards"
  resources="setup.resources"
  days="setup.dates.days"
  day-plus-one="false"
)
