md-toolbar.page-header.md-whiteframe-z1.md-hue-3.md-primary
  .md-toolbar-tools
    h1 Burndown Chart

.container(
  layout="column"
  layout-fill
  layout-align="center center"
)
  .action-buttons
    md-button.md-fab.md-mini.md-primary.md-hue-1.secondary-button(
      aria-label="Send Daily"
      ng-if="showAllActions"
    )
      .daily(
        daily-report
        data="bdcData"
        daily-column-id="setup.columnIds.done"
      )
        .md-icon-container
          i.fa.fa-trello
    md-button.md-fab.md-mini.md-accent.md-hue-2.secondary-button(
      aria-label="j+1"
      ng-if="showAllActions"
      ng-click="toggleDayPlusOne()"
    )
      .md-icon-container(ng-if="!showDayPlusOne")
        i.fa.fa-fast-forward
      .md-icon-container(ng-if="showDayPlusOne")
        i.fa.fa-fast-backward
    md-button.md-fab.md-mini.md-accent.secondary-button(
      aria-label="Setup"
      ui-sref="setup"
      ng-if="showAllActions"
    )
      .md-icon-container
        i.fa.fa-cogs
    md-button.md-fab.md-hue-3(
      aria-label="Setup"
      md-theme="blue"
      ng-click="openActions()"
    )
      md-icon(md-svg-src="batman.svg", aria-label="do something")

  .burndown(
    flex
    layout="column"
    layout-align="space-around center"
  )
    .md-whiteframe-z2.scrumboard-section
      md-toolbar
        .md-toolbar-tools
          span(bdc-summary, resources="setup.resources", label="setup.sprintLabel")
      .widgets(
        layout-gt-lg="row"
        layout="column"
        layout-align="center center"
        layout-margin
      )
        .col
          burndown(
            data="bdcData"
          )
        .col(
          layout="column"
          layout-align="center center"
          layout-margin
        )
          print-table(
            data="bdcData"
          )
