md-toolbar.page-header.md-whiteframe-z1.md-hue-3.md-primary
  .md-toolbar-tools
    h1 Burndown Chart

.container(
  layout="column"
  layout-fill
  layout-align="center center"
)
  md-button.md-fab.md-hue-3.main-button(
    aria-label="Setup"
    md-theme="blue"
    ui-sref="setup"
  )
    i.fa.fa-cog
  .burndown(
    flex
    layout="column"
    layout-align="space-around center"
  )
    daily-report(
      data="bdcData"
    )
    .md-whiteframe-z2.scrumboard-section
      md-toolbar
        .md-toolbar-tools
          span(bdc-summary, resources="setup.resources")
      .widgets(
        layout-gt-lg="row"
        layout="column"
        layout-align="center center"
        layout-margin
      )
        burndown(
          data="bdcData"
        )
        print-table(
          data="bdcData"
        )
