md-toolbar.sprint-title(
  md-theme="{{sprintColor}}"
)
  .md-toolbar-tools.md-padding {{sprintTitle}}
md-content.sprint-content(
  layout="column"
  layout-fill
)
  .sprint-lists(
    layout="row"
    layout-fill
  )
    .sprint-list(
      ng-repeat="list in lists"
      flex
      class="{{listsClass[list]}} {{list}}"
    )
      .list-name {{list | uppercase | translate}}
      .list-points {{ points[list] }}
      
