md-content.md-padding(
  layout="column"
  layout-align="center center"
  layout-fill
)
  .lol(
    flex="50"
  )
    md-button.md-primary.md-raised.md-accent(
      ui-sref="setup.trello"
    ) SETUP

    md-button.md-primary.md-raised.md-accent(
      ui-sref="burndown"
    ) BOARD

    md-button.md-primary.md-raised.md-accent(
      ui-sref="home.mepgraph"
    ) MEPGRAPH(wip)

md-content.md-padding(ui-view)
  h3 Here to get settings from trello
  
  h4 Please allow NotSoShitty inside your Trello first <3
  md-content
    md-content.md-padding(
      md-theme="blue"
    )
      span Go to 
      a(
        ng-href="{{requestTokenUrl}}"
        target="_blank"
      )
        | request token from Trello
      
      span  and paste token : 
      md-text-float.trello-token-input(
        label="Trello token"
        ng-model="user.trelloToken"
      )
      md-button.md-raised.md-primary(
        ng-click="submitTrelloToken()"
      ) OK
      p Note : this will grant read/write access to your trello board for 30 days
    md-content.md-padding(
      md-theme="orange"
    )
      span Fill the id of the card that contains your settings
      p ex with : https://trello.com/c/j0l14fpd/666-yolo-card
        | id is "j0l14fpd"
      
      md-text-float.trello-token-input(
        label="Trello master card"
        ng-model="user.trelloCardId"
      )
      md-button.md-raised.md-primary(
        ng-click="submitCardId()"
      ) OK

  md-button.md-raised.md-primary(
    md-theme="orange"
    ng-click="getBoardFromTrello()"
  ) GET STUFF
