md-toolbar.page-header.md-whiteframe-z1.md-hue-3.md-primary
  .md-toolbar-tools
    h1 Setup
    
    
.container(
  layout="column"
  layout-fill
  layout-align="center center"
)
  md-button.md-fab.md-hue-3.main-button(
    aria-label="Setup"
    md-theme="blue"
    ui-sref="scrumboard"
  )
    i.fa.fa-line-chart

  .setup(
    flex
    layout="column"
    layout-gt-md="row"
  )
    div(
      layout-fill
      layout="column"
    )
      md-toolbar.md-hue-2
        .md-toolbar-tools
          h4 Board
      md-content.md-padding.md-whiteframe-z2
        select-board(
          boards="boards"
          board-id="setup.boardId"
        )
      md-toolbar.md-accent
        .md-toolbar-tools
          h4 Columns
      md-content.md-padding.md-whiteframe-z2
        select-columns(
          board-columns="boardColumns"
          column-ids="setup.columnIds"
        )
      md-toolbar.md-hue-2
        .md-toolbar-tools
          h4 Save setup
      md-content.md-padding.md-whiteframe-z2(
        md-theme="blue"
      )
        h4 Save to trello card
        select-card(
          columns="boardColumns"
          card-id="setup.saveCardId"
        )
        save-to-trello(
          card-id="setup.saveCardId"
          data="setup"
        )
    div(
      layout-fill
      layout="column"
    )
      md-toolbar.md-accent.md-hue-2
        .md-toolbar-tools
          h4 Resources
      md-content.md-whiteframe-z2
        resources-widget(
          board-members="boardMembers"
          team="setup.team"
          dates="setup.dates"
          resources="setup.resources"
        )
      md-toolbar.md-primary.md-hue-1
        .md-toolbar-tools
          h4 Optional
      md-content.md-whiteframe-z2
        md-content(
          layout="column"
          layout-gt-lg="row"
        )
          label(flex)
            span Sprint Label
            input(
              type="text"
              ng-model="setup.sprintLabel"
            )
          label(flex)
            span Daily Scrum Hour [1-24]
            input(
              type="number"
              ng-model="setup.dailyHour"
              min="1"
              max="24"
              step="1"
            )
